@model IEnumerable<PaulsYummyPieShop.Models.Pie>

<!Doctype html>

<head>
<meta name="viewport" content="width = device-width" />


</head>

<h2>@ViewBag.Title</h2>
<h2>@ViewBag.Test</h2>

@foreach (var pie in Model)
{
<div>
    <h2>@pie.Name</h2>
    <h3>@pie.Price.ToString("c")</h3>
</div>
}

